/* design intentionally made horrible to see who doesn't change it*/
body {
    font-family: auto;
   // background-color: #e8e8e89c;
     background-color: #a1cfcf;
     font-size:30;

}

ul[class="nav"]{
    list-style-type: none;
    width: 100%;
    margin: auto;
    font-size:20px;
    padding:1;
    overflow: hidden;
    background-color: #2a6592;
}
li a{

    display:block;
    width: 200px;
    padding: initial; 
}

.nav > li {
    float: left;
}

.nav > li a {

    display: block;
    color: #ffffff;
    padding: 10px 13px 3px 50px;
    transition: 0.5s;
    text-decoration: none;

}

.nav > li a:hover {
    background-color: #8fb8b8;
}
.list-group-item{
    text-align: center;
    width: 35%;
    height: 20%;
   margin-left: 300px;
   font-size: 20px;
   background-color: #f0f1f1;
   border-color: #a1cfcf;
   padding: 30px 40px 30px 80px; 
   border-radius: 10px; 
   
}
form{
    position: relative;
    width: 70%;
    height: 50%;
     background-color:#e8f7f752;
    font-size: 25px; 
    color:black;
    padding: 70px 8px 200px 100px; 
}
.shiftRight
{
    margin-left: 30px;
}

input, select {
    font-size: 25px;
    border-radius: 100px;

    width: 450px;
    padding: 15px 15px;
    margin: 0px .5px;
    display: inline-block;
    border: 1px solid #0a0a06;
    border-radius: 10px;
    box-sizing: border-box;
}
input[type=submit] {
    font-size: 25px;
    font-family: auto;
    width: 250px;
    background-color: #2a6592;
    color: #f9f5f5;
    padding: 10px 25px;
    margin: 10px 0px;
    border-color:#ffffff;
    border-radius: 10px;
    cursor: pointer;
}

.menu-btn {
   font-size: 18px;
   font-weight: bold;
   display: inline-block;
   text-align: center;
   background-color: #040008;
   color: white;
   padding: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border: none;
   width: 100%;
}
.dropdown-menu {
   position: relative;
   display: inline-block;
}
.menu-content {
   display: none;
   position: absolute;
   width: 100%;
   background-color: #017575;
   min-width: 160px;
   z-index: 1;
}
nav{
   background-color: #017575;
   width: 100%;
}
.links,.links-hidden{
   display: inline-block;
   color: rgb(255, 255, 255);
   text-decoration: none;
   font-size: 18px;
   font-weight: bold;
   padding: 20px;
}
.links-hidden:hover,.links:hover {
   background-color: rgb(8, 107, 46);
}
.dropdown-menu:hover .menu-content {
   display: block;
}
.dropdown-menu:hover .menu-btn {
   background-color: #3e8e41;
}
.hamburger {
   color: white;
   font-weight: bolder;
   display: none;
}
@media screen and (max-width: 880px) {
      nav a:not(:first-child) {
      display: none;
   }
   nav a.hamburger {
      float: right;
      display: block;
      padding: 12px;
   }
   .dropdown-menu{
      display: none;
   }
   nav.openNav a.hamburger {
      position: relative;
   }
   nav.openNav a {
      float: none;
      display: block;
      text-align: center;
   }
}
nav.openNav div.dropdown-menu{
   display: block;
   width: 100%;
}






