/* design intentionally made horrible to see who doesn't change it*/
body {
    font-family: auto;

    background-color: #e8e8e89c;
    font-size: 5 em;
}

ul[class="nav"]{
    list-style-type: none;
    font-size:20px;
    width: 100%
    margin: auto;
    padding: 1;
    overflow: hidden;
    background-color: #2a6592;
}
li a{
    display:block;
    width: 70px;
    padding: initial;

}
.nav > li {
    float: left;
}

.nav > li a {
    display: list-item;
    color: #ffffffff;
    text-align: center;
    padding: 15px 15px 15px 15px;

    text-decoration: none;
}

.nav > li a:hover {
    background-color: #8fb8b8;

}
form{
    position: relative;
    width: 98%;
    height: 300px;
    background-color: #8fb8b8;
    font-size: 18px; 
    color:white;
    padding: 20px 30px 200px 10px; 
    border-radius:20px;
}
input, select {
    font-size: 15px;
    border-radius: 100px;
    width: 60%;
    padding: 15px 15px;
    margin: 10px .5px;
    display: flow-root;
    border: 1px solid #0a0a06;
    border-radius: unsetpx;
    box-sizing: border-box;
 
}

input[type=submit] {
    font-size: 15px;
    font-family: auto;
    width: 25%;
    background-color: #2a6592;
    color: white;
    padding: 10px 5px;
    margin: 30px 20px;
    border-color:#ffffff;
    border-radius: 100px;
    cursor: pointer;
    border-style:solid;
    border-width:medium;
}




